body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff00cc, #3333ff, #00ffcc, #ffcc00);
  background-size: 600% 600%;
  animation: animarFondo 15s ease infinite;
}

@keyframes animarFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 700px;
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
}
/* PARA PONER NEGRITA AL TEXTO DE LOS BLOQUES*/
label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

p {
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 16px;
}

.button {
    background-color: #1f78b4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
/*PARA CAMBIAR DE COLOR DE BOTON AL PASAR EL CURSOR*/
.button:hover {
    background-color: #155a8a;
}

